/* Steps section */
@media (max-width: 928px) {
    .step1, .step2 {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .step1, .step2 {
        padding: 20px;
    }
}

/* Id list */
@media (max-width: 768px) {
    .id-column {
        flex-basis: 100%;
    }
}