html, body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Lexend';
}

.navbar-top {
    width: auto;
    height: auto;
    padding: 10px 10px 10px 30px;
    background-color: #240a43;
}

.main {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.step1,
.step2 {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 0px 60px 0px 60px;
    flex-direction: column;
    display: flex;
}

.step-header {
    color: #226357;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
}

.fileSubmit {
    position: relative;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s, transform 0.2s ease-out;
}

/* Hide the default file input by opacity only*/
#imgUpload {
    opacity: 0;
}

/* Custom file input text overlay */
#btnLabel {
    position: relative;
    transform: translate(0px, -42px);
    z-index: 0;
    border: 2px dashed #29b198;
    padding: 10px 20px;
    background: none;
    color: #29b198;
}

#imgUpload:hover~label {
    border: 2px dashed #1f896b;
    color: #1f896b;
    text-decoration: underline;
    cursor: pointer;
}


/* Start of: ID list styles */
.id-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}


.fa-id-card-o {
    color: #29b198;
}

.idHeader {
    font-size: 16px;
    font-family: 'Lexend';
    color: #29b198;
    font-weight: bold;
}

.id-column {
    flex-basis: 48%;
    margin-bottom: 0;
    width: auto;
    height: auto;
    color: #226357;
}

.id-column ul {
    padding: 0px 20px;
    margin: 0;
    list-style-type: disc;
}


.id-reminder {
    font-family: 'Lexend';
}

/* End of: ID list styles */


/* video container */
#videoElement {
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    width: 100%;
    background-color: #29b198;
}

/* button div container */
.btn-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 10px 0px;

}

/* button */
#btn-capture {
    height: 44px;
    width: 130px;
    border: none;
    padding: 5px 20px;
    background-color: #29b198;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s, transform 0.2s ease-out;
}

#btn-capture:hover {
    background-color: #1f896b;
}